body {
  background-color: #e3e3e3;
}

.navbar {
  overflow: hidden;
  background-color: #233142;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 15px;
}
ul {
  overflow: hidden;
  float: right;
  padding-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}
ul li {
  float: left;
  font-size: 17px;
  padding: 0px 20px 30px;
  display: block;
  color: #f95959;
  margin-bottom: 10px;
}
